Kali ini saya mau membagi pekerjaan saya melakukan ETL dengan Pandas

Step 1 : Lakukan import library pandas 
Step 2 : Lakukan pembacaan data csv
Step 3 : Tampilkan tabel yang ada di dalam data teratas dan infonya
Step 4 : Lakukan pengubahan tipe data dimasing masing kolom "customer_id","quantity","item_price" ubah ke type data int64 mnggunakan lambda, split "'" fungsinya untuk memisahkan data dan pemisahnya menggunakan ', [1] adalah menunjukan bahwa yang dirubah itu data dari kolom, jika data baris yang mau dirubah menggunakan [0]
step 5 :

In [ ]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

In [ ]:
# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])
# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[months_dict(x)[:3]] + "-" + str(x)[4:7]))
print("    Tipe data:\n", df.types)

In [4]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])
# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x : str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print("    Tipe data:\n", df.dtypes)

# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")
# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city","province"]] = df[["city","province"]].fillna("unknown")
# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")
# Cek apakah masih terdapat missing value di seluruh kolom 
print("    Info:\n", df.info())

# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city","province"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
# urutkanlah berdasarkan index yang baru
df = df.sort_index()
# Cetak 5 data teratas
print(df.head())

# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
# Cetak 5 data teratas
print(df.head())

# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)


# END OF PROJECT

[1] BACA DATASET
    Dataset:
    order_id    order_date customer_id           city     province    brand  \
0   1730350  Dec 11, 2019      '13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019          '0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019      '16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019      '16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019          '0            NaN          NaN  BRAND_E

  quantity item_price  product_value
0      '24    '113000         1374.0
1       '1   '1164000         1370.0
2      '12    '747000         1679.0
3       '6    '590000         1708.0
4       '2    '740000         1201.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   order_date     5000 non-null   object
 2   customer_id    5000 non-null   object
 3   city           3802 non-null   object
 4   province       3802 non-null   object
 5   brand          4995 non-null   object
 6   quantity       5000 non-null   object
 7   item_price     5000 non-null   object
 8   product_value  4995 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 351.7+ KB
    Info:
 None

[2] UBAH TIPE DATA
    Tipe data:
 order_id           int64
order_date        object
customer_id        int64
city              object
province          object
brand             object
quantity           int64
item_price         int64
product_value    float64
dtype: object

[3] TRANSFORM product_value MENJADI product_id
   order_id    order_date  customer_id           city     province    brand  \
0   1730350  Dec 11, 2019        13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019            0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019        16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019        16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019            0            NaN          NaN  BRAND_E

   quantity  item_price product_id
0        24      113000      P1374
1         1     1164000      P1370
2        12      747000      P1679
3         6      590000      P1708
4         2      740000      P1201

[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd
    Tipe data:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
brand                  object
quantity                int64
item_price              int64
product_id             object
dtype: object

[5] HANDLING MISSING VALUE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5000 non-null   int64
 1   order_date   5000 non-null   datetime64[ns]
 2   customer_id  5000 non-null   int64
 3   city         5000 non-null   object
 4   province     5000 non-null   object
 5   brand        5000 non-null   object
 6   quantity     5000 non-null   int64
 7   item_price   5000 non-null   int64
 8   product_id   5000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB
    Info:
 None

[6] MEMBUAT KOLOM BARU city/province
   order_id order_date  customer_id    brand  quantity  item_price product_id  \
0   1730350 2019-12-11        13447  BRAND_F        24      113000      P1374
1   1677490 2019-07-31            0  BRAND_F         1     1164000      P1370
2   1704211 2019-10-18        16128  BRAND_H        12      747000      P1679
3   1679695 2019-08-07        16225  BRAND_H         6      590000      P1708
4   1679080 2019-08-05            0  BRAND_E         2      740000      P1201

               city/province
0      Surakarta/Jawa Tengah
1            unknown/unknown
2  Jakarta Pusat/DKI Jakarta
3      Yogyakarta/Yogyakarta
4            unknown/unknown

[7] MEMBUAT HIERACHICAL INDEX
                                                                     brand  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K
                       2019-11-12 12360       1715116  P0758       BRAND_C
                                                       P3042       BRAND_R
                       2019-12-09 12374       1729036  P1660       BRAND_G
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936             24
                       2019-11-12 12360       1715116  P0758              8
                                                       P3042             12
                       2019-12-09 12374       1729036  P1660              4
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12

                                                                   item_price
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936           450000
                       2019-11-12 12360       1715116  P0758           695000
                                                       P3042           310000
                       2019-12-09 12374       1729036  P1660          2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000

[8] MEMBUAT KOLOM total_price
                                                                     brand  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K
                       2019-11-12 12360       1715116  P0758       BRAND_C
                                                       P3042       BRAND_R
                       2019-12-09 12374       1729036  P1660       BRAND_G
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936             24
                       2019-11-12 12360       1715116  P0758              8
                                                       P3042             12
                       2019-12-09 12374       1729036  P1660              4
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936           450000
                       2019-11-12 12360       1715116  P0758           695000
                                                       P3042           310000
                       2019-12-09 12374       1729036  P1660          2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936          10800000
                       2019-11-12 12360       1715116  P0758           5560000
                                                       P3042           3720000
                       2019-12-09 12374       1729036  P1660          11180000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000

[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA
Dataset akhir:
                                                                      brand  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597       BRAND_G
                       2019-01-10 17392       1617952  P2137       BRAND_M
                       2019-01-14 15527       1618828  P3115       BRAND_S
                       2019-01-29 13253       1620289  P0099       BRAND_A
...                                                                    ...
unknown/unknown        2019-01-30 0           1620766  P3070       BRAND_R
                                                       P3483       BRAND_S
                       2019-01-31 0           1621057  P1298       BRAND_F
                                                       P1773       BRAND_H
                                                       P2877       BRAND_R

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597              9
                       2019-01-10 17392       1617952  P2137              2
                       2019-01-14 15527       1618828  P3115              1
                       2019-01-29 13253       1620289  P0099             12
...                                                                     ...
unknown/unknown        2019-01-30 0           1620766  P3070              1
                                                       P3483              3
                       2019-01-31 0           1621057  P1298              1
                                                       P1773              5
                                                       P2877              1

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           520000
                       2019-01-10 17392       1617952  P2137          1062000
                       2019-01-14 15527       1618828  P3115          1045000
                       2019-01-29 13253       1620289  P0099           450000
...                                                                       ...
unknown/unknown        2019-01-30 0           1620766  P3070           593000
                                                       P3483           593000
                       2019-01-31 0           1621057  P1298           296000
                                                       P1773           593000
                                                       P2877          1486000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           4680000
                       2019-01-10 17392       1617952  P2137           2124000
                       2019-01-14 15527       1618828  P3115           1045000
                       2019-01-29 13253       1620289  P0099           5400000
...                                                                        ...
unknown/unknown        2019-01-30 0           1620766  P3070            593000
                                                       P3483           1779000
                       2019-01-31 0           1621057  P1298            296000
                                                       P1773           2965000
                                                       P2877           1486000

[334 rows x 4 columns]

In [5]:
# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)

[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA
Dataset akhir:
                                                                      brand  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597       BRAND_G
                       2019-01-10 17392       1617952  P2137       BRAND_M
                       2019-01-14 15527       1618828  P3115       BRAND_S
                       2019-01-29 13253       1620289  P0099       BRAND_A
...                                                                    ...
unknown/unknown        2019-01-30 0           1620766  P3070       BRAND_R
                                                       P3483       BRAND_S
                       2019-01-31 0           1621057  P1298       BRAND_F
                                                       P1773       BRAND_H
                                                       P2877       BRAND_R

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597              9
                       2019-01-10 17392       1617952  P2137              2
                       2019-01-14 15527       1618828  P3115              1
                       2019-01-29 13253       1620289  P0099             12
...                                                                     ...
unknown/unknown        2019-01-30 0           1620766  P3070              1
                                                       P3483              3
                       2019-01-31 0           1621057  P1298              1
                                                       P1773              5
                                                       P2877              1

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           520000
                       2019-01-10 17392       1617952  P2137          1062000
                       2019-01-14 15527       1618828  P3115          1045000
                       2019-01-29 13253       1620289  P0099           450000
...                                                                       ...
unknown/unknown        2019-01-30 0           1620766  P3070           593000
                                                       P3483           593000
                       2019-01-31 0           1621057  P1298           296000
                                                       P1773           593000
                                                       P2877          1486000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           4680000
                       2019-01-10 17392       1617952  P2137           2124000
                       2019-01-14 15527       1618828  P3115           1045000
                       2019-01-29 13253       1620289  P0099           5400000
...                                                                        ...
unknown/unknown        2019-01-30 0           1620766  P3070            593000
                                                       P3483           1779000
                       2019-01-31 0           1621057  P1298            296000
                                                       P1773           2965000
                                                       P2877           1486000

[334 rows x 4 columns]

TypeError: unhashable type: 'slice'

Evaluasi Andra untuk Project yang Telah Disubmit
Aku baru saja mengumpulkan hasil kerja dari proyek pertamaku pada Andra. Lebih cepat satu hari dari tenggat waktu yang diberikan, semoga hasilnya juga memuaskan! Doaku dalam hati.

 

“Aksara, saya baru saja meninjau pekerjaanmu. Saya ada pertanyaan,” ujar Andra yang lagi-lagi sudah ada di sebelahku. Sepertinya Andra punya kemampuan teleportasi yang bisa muncul tiba-tiba.

“Ada yang salah, Ndra?”

 

“Saya ingin tahu alasanmu mengapa di langkah ketiga, kamu cari tahu terlebih dulu nilai null. Mengapa tidak kamu convert to string secara langsung?”

“Soalnya, kalau aku cek di df.info()nya masih ada yang kosong di kolom ‘product_value’, Ndra.  Kalau aku langsung convert to string, nantinya value NaN akan berubah menjadi string ‘nan’, kemudian ketika aku pad 0 di depan dan concat dengan char ‘P’, hasilnya akan menjadi ‘P0nan’ yang aneh sekali, Ndra,” jelasku.

 

“Oke. Satu lagi pertanyaanku, Aksara. Kenapa kamu memakai langkah ke-4? Mengapa tidak langsung menggunakan kolom date yang sudah ada. Bukankah format waktunya sudah ideal?”

Aku merasa tanya jawab ini tampak seperti ujian apakah aku benar-benar memahami cara kerja Pandas. Aku memantapkan diri untuk memberi jawaban, “Tidak semua format datetime yang ideal pada umumnya akan ideal di dalam pandas environment. Seenggaknya harus translate dulu menjadi format yang ideal di dalam pandas sehingga pandas bisa mengenali.”

 

“Great! Untuk materi dan proyek ini, kamu dinyatakan lulus, Aksara.”

Mendengar apresiasi ini langsung dari Andra membuat hatiku hangat. Senang sekali rasanya!

<!-- Evaluasi Andra untuk Project yang Telah Disubmit
Aku baru saja mengumpulkan hasil kerja dari proyek pertamaku pada Andra. Lebih cepat satu hari dari tenggat waktu yang diberikan, semoga hasilnya juga memuaskan! Doaku dalam hati.

 

“Aksara, saya baru saja meninjau pekerjaanmu. Saya ada pertanyaan,” ujar Andra yang lagi-lagi sudah ada di sebelahku. Sepertinya Andra punya kemampuan teleportasi yang bisa muncul tiba-tiba.

“Ada yang salah, Ndra?”

 

“Saya ingin tahu alasanmu mengapa di langkah ketiga, kamu cari tahu terlebih dulu nilai null. Mengapa tidak kamu convert to string secara langsung?”

“Soalnya, kalau aku cek di df.info()nya masih ada yang kosong di kolom ‘product_value’, Ndra.  Kalau aku langsung convert to string, nantinya value NaN akan berubah menjadi string ‘nan’, kemudian ketika aku pad 0 di depan dan concat dengan char ‘P’, hasilnya akan menjadi ‘P0nan’ yang aneh sekali, Ndra,” jelasku.

 

“Oke. Satu lagi pertanyaanku, Aksara. Kenapa kamu memakai langkah ke-4? Mengapa tidak langsung menggunakan kolom date yang sudah ada. Bukankah format waktunya sudah ideal?”

Aku merasa tanya jawab ini tampak seperti ujian apakah aku benar-benar memahami cara kerja Pandas. Aku memantapkan diri untuk memberi jawaban, “Tidak semua format datetime yang ideal pada umumnya akan ideal di dalam pandas environment. Seenggaknya harus translate dulu menjadi format yang ideal di dalam pandas sehingga pandas bisa mengenali.”

 

“Great! Untuk materi dan proyek ini, kamu dinyatakan lulus, Aksara.”

Mendengar apresiasi ini langsung dari Andra membuat hatiku hangat. Senang sekali rasanya! -->

# Hari ini saya off
# Besok kita bantai harus 1 srtifikat siap minimal

<!--  Evaluasi Andra untuk Project yang Telah Disubmit
Aku baru saja mengumpulkan hasil kerja dari proyek pertamaku pada Andra. Lebih cepat satu hari dari tenggat waktu yang diberikan, semoga hasilnya juga memuaskan! Doaku dalam hati.

 

“Aksara, saya baru saja meninjau pekerjaanmu. Saya ada pertanyaan,” ujar Andra yang lagi-lagi sudah ada di sebelahku. Sepertinya Andra punya kemampuan teleportasi yang bisa muncul tiba-tiba.

“Ada yang salah, Ndra?”

 

“Saya ingin tahu alasanmu mengapa di langkah ketiga, kamu cari tahu terlebih dulu nilai null. Mengapa tidak kamu convert to string secara langsung?”

“Soalnya, kalau aku cek di df.info()nya masih ada yang kosong di kolom ‘product_value’, Ndra.  Kalau aku langsung convert to string, nantinya value NaN akan berubah menjadi string ‘nan’, kemudian ketika aku pad 0 di depan dan concat dengan char ‘P’, hasilnya akan menjadi ‘P0nan’ yang aneh sekali, Ndra,” jelasku.

 

“Oke. Satu lagi pertanyaanku, Aksara. Kenapa kamu memakai langkah ke-4? Mengapa tidak langsung menggunakan kolom date yang sudah ada. Bukankah format waktunya sudah ideal?”

Aku merasa tanya jawab ini tampak seperti ujian apakah aku benar-benar memahami cara kerja Pandas. Aku memantapkan diri untuk memberi jawaban, “Tidak semua format datetime yang ideal pada umumnya akan ideal di dalam pandas environment. Seenggaknya harus translate dulu menjadi format yang ideal di dalam pandas sehingga pandas bisa mengenali.”

 

“Great! Untuk materi dan proyek ini, kamu dinyatakan lulus, Aksara.”

Mendengar apresiasi ini langsung dari Andra membuat hatiku hangat. Senang sekali rasanya! -->