In [ ]:
import pandas as pd
dataset = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/pythonTutorial/online_raw.csv')
print('Shape dataset:', dataset.shape)
print('\nLima data teratas:\n', dataset.head())
print('\nInformasi dataset:')
print(dataset.info())
print('\nStatistik deskriptif:\n', dataset.describe())

# Melakukan correlasi

In [ ]:
dataset_corr = dataset.corr()
print('Korelasi dataset : \n', dataset.corr())
print('Distribusi Label (Revenue):\n', dataset['Revenue'].value_counts())

In [ ]:
dataset_corr = dataset.corr()
print('Korelasi dataset : \n', dataset.corr())
print('Distribusi Label (Revenue):\n', dataset['Revenue'].value_counts())
# Tugas praktek
print('Korelasi BounceRates-ExitRates: ',dataset_corr.loc['ExitRates','BounceRates'])
print('Korelasi Revenue-PageValues: ', dataset_corr.loc['Revenue','PageValues'])
print('Korelasi TrafficType-Weekend: ', dataset_corr.loc['TrafficType','Weekend'])

In [47]:
dataset

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0.000000,0.000294,0.0,0.000392,0.001418,0.000016,1.000000,1.000000,0.000000,0.0,2,1,1,1,1,2,False,False
1,0.000000,0.000294,0.0,0.000392,0.002837,0.001016,0.000000,0.500000,0.000000,0.0,2,2,2,1,2,2,False,False
2,0.000000,0.000000,0.0,0.000000,0.001418,0.000000,1.000000,1.000000,0.000000,0.0,2,4,1,9,3,2,False,False
3,0.000000,0.000294,0.0,0.000392,0.002837,0.000057,0.250000,0.700000,0.000000,0.0,2,3,2,2,4,2,False,False
4,0.000000,0.000294,0.0,0.000392,0.014184,0.009824,0.100000,0.250000,0.000000,0.0,2,3,3,1,4,2,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,0.111111,0.042944,0.0,0.000392,0.075177,0.027898,0.035714,0.145153,0.033839,0.0,1,4,6,1,1,2,True,False
12326,0.000000,0.000294,0.0,0.000392,0.007092,0.007296,0.000000,0.106667,0.000000,0.0,7,3,2,1,8,2,True,False
12327,0.000000,0.000294,0.0,0.000392,0.008511,0.002896,0.416667,0.433333,0.000000,0.0,7,3,2,1,13,2,True,False
12328,0.148148,0.022355,0.0,0.000392,0.021277,0.005424,0.000000,0.105263,0.000000,0.0,7,2,2,3,11,2,False,False
12329,0.000000,0.000294,0.0,0.000392,0.004255,0.000348,0.000000,0.333333,0.000000,0.0,7,3,2,1,2,0,True,False

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
# checking the Distribution of customers on Revenue
plt.rcParams['figure.figsize'] = (12,5)
plt.subplot(1, 2, 1)
sns.countplot(dataset['Revenue'], palette = 'pastel')
plt.title('Buy or Not', fontsize = 20)
plt.xlabel('Revenue or not', fontsize = 14)
plt.ylabel('count', fontsize = 14)

# checking the Distribution of customers on Weekend
plt.subplot(1, 2, 2)
sns.countplot(dataset['Weekend'], palette = 'inferno')
plt.title('Purchase on Weekends', fontsize = 20)
plt.xlabel('Weekend or not', fontsize = 14)
plt.ylabel('count', fontsize = 14)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
# visualizing the distribution of customers around the Region
plt.hist(dataset['Region'], color = 'lightblue')
plt.title('Distribution of Customers', fontsize = 20)
plt.xlabel('Region Codes', fontsize = 14)
plt.ylabel('Count Users', fontsize = 14)
plt.show()

In [ ]:
#checking missing value for each feature  
print('Checking missing value for each feature:')
print(dataset.isnull().sum())
#Counting total missing value
print('\nCounting total missing value:')
print(dataset.isnull().sum().sum())

# Melakukan drop terhadap missing data

In [ ]:
dataset_clean = dataset.dropna()
print('dataset yang sudah dibersihkan dari missing value ',dataset_clean.shape )

# cara lain untuk mengatasi missing value dengan cara impute missing value

In [ ]:
# cek data kosong sebelumnya
print(dataset.isnull().sum())

#cek jumlah data kosong 
print(dataset.isnull().sum().sum())

#mengatasi dengan impute missing value
dataset.fillna(dataset.mean(), inplace = True)

# cek data kosong setelah di impute
print(dataset.isnull().sum())

#cek jumlah data kosong setelah di impute 
print(dataset.isnull().sum().sum())

In [ ]:
import pandas as pd
dataset1 = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/pythonTutorial/online_raw.csv')

print("Before imputation:")
# Checking missing value for each feature  
print(dataset1.isnull().sum())
# Counting total missing value  
print(dataset1.isnull().sum().sum())

print("\nAfter imputation:")
# Fill missing value with median of feature value  
dataset1.fillna(dataset.mean(), inplace = True)
# Checking missing value for each feature  
print(dataset1.isnull().sum())
# Counting total missing value  
print(dataset1.isnull().sum().sum())

# Melakukan scaler

In [48]:
from sklearn.preprocessing import MinMaxScaler
#Define MinMaxScaler as scaler  
scaler = MinMaxScaler()  
#list all the feature that need to be scaled  
scaling_column = ['Administrative','Administrative_Duration','Informational','Informational_Duration','ProductRelated','ProductRelated_Duration','BounceRates','ExitRates','PageValues']
#Apply fit_transfrom to scale selected feature  
dataset[scaling_column] = scaler.fit_transform(dataset[scaling_column])
#Cheking min and max value of the scaling_column
print(dataset[scaling_column].describe().T[['min','max']])

                         min  max
Administrative           0.0  1.0
Administrative_Duration  0.0  1.0
Informational            0.0  1.0
Informational_Duration   0.0  1.0
ProductRelated           0.0  1.0
ProductRelated_Duration  0.0  1.0
BounceRates              0.0  1.0
ExitRates                0.0  1.0
PageValues               0.0  1.0

# Merubah string menjadi numerik dengan LabelEncoder

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
# Convert feature/column 'Month'
LE = LabelEncoder()
dataset['Month'] = LE.fit_transform(dataset['Month'])
print(LE.classes_)
print(np.sort(dataset['Month'].unique()))
print('')

# Convert feature/column 'VisitorType'
LE = LabelEncoder()
dataset['VisitorType'] = LE.fit_transform(dataset['VisitorType'])
print(LE.classes_)
print(np.sort(dataset['VisitorType'].unique()))

In [ ]:
# removing the target column Revenue from dataset and assigning to X
X = dataset.drop(['Revenue'], axis = 1)
# assigning the target column Revenue to y
y = dataset['Revenue']
# checking the shapes
print("Shape of X", X.shape)
print("Shape of y", y.shape)

# Melakukan Train dan test

In [ ]:
from sklearn.model_selection import train_test_split
# splitting the X, and y
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)
# checking the shapes
print("Shape of X_train :", X_train.shape)
print("Shape of y_train :", y_test.shape)
print("Shape of X_test :", X_test.shape)
print("Shape of y_test :", y_test.shape)

# Pemanggilan fungsi algoritma decisiontree dari sklearn atau disebut dengan model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# Call the classifier
model = DecisionTreeClassifier()
# Fit the classifier to the training data
model = model.fit(X_train, y_train)

# Memprediksi Label dari testing dataset

In [ ]:
# Apply the classifier/model to the test data
y_pred = model.predict(X_test)
print(y_pred.shape)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report
#Evaluasi model
print('Training Akurasi', model.score(X_train,y_train))
print('Training Akurasi', model.score(X_test,y_test))

# confusion matrix
print('\nConfusion matrix:')
cm = confusion_matrix(y_test, y_pred)
print(cm)

# classification report
print('\nClassification report:')
cr = classification_report(y_test, y_pred)
print(cr)