<a href="https://colab.research.google.com/github/syukurd/PYTHONLIKE/blob/main/Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Numpy

In [2]:
import numpy

In [3]:
numpy.__version__

'1.19.5'

In [4]:
import numpy as np

In [5]:
a = np.array([1, 2, 3])

In [6]:
print(type(a))

<class 'numpy.ndarray'>

In [ ]:
print(a.shape)

In [ ]:
print(a)

In [ ]:
a[0]

In [10]:
a[-3]

2

In [ ]:
a[0] = 5
print(a)

In [ ]:
b = np.array([[1,2,3],[4,5,6]]) 
print(b.shape)

In [ ]:
print(b)

In [ ]:
a = np.zeros((2,2))
print(a)

In [ ]:
b = np.ones((1,2))
print(b)

In [ ]:
c = np.full((2,2), 7)
print(c)

In [ ]:
d = np.eye(2)
print(d)

In [ ]:
e = np.random.random((2,2))
print(e)

#2. Pandas

In [11]:
import pandas as pd

pd.__version__

'1.1.5'

In [12]:
temperatures = [55, 63, 72, 65, 63, 75, 67, 59, 82, 54]

series = pd.Series(temperatures)

print(type(series))
print(series)

<class 'pandas.core.series.Series'>
0    55
1    63
2    72
3    65
4    63
5    75
6    67
7    59
8    82
9    54
dtype: int64

In [ ]:
series.describe()

In [13]:
series.is_unique

False

In [ ]:
print(series.is_monotonic)

In [ ]:
series[4]

In [ ]:
for temp in series:
  print(temp)

In [ ]:
temperatures = [55, 63, 72, 65, 63, 75, 67, 59, 82, 54]
series = pd.Series(temperatures)

print(series[1])

series[1] = 65

print(series[1])

In [ ]:
series + 1

In [ ]:
series = series + 1

In [ ]:
temperatures = [55, 63, 72, 65, 63, 75, 67, 59, 82, 54]
series = pd.Series(temperatures)

print(series)

series.pop(4)

print(series)

In [ ]:
try:
  print(series[4])
except:
  print('Unable to print the value at index 4')

In [ ]:
series.reset_index(drop=True, inplace=True)
series

In [ ]:
temperatures = [55, 63, 72, 65, 63, 75, 67, 59, 82, 54]

print(temperatures[4])

temperatures.pop(4)

print(temperatures[4])

In [ ]:
temperatures = [55, 63, 72, 65, 63, 75, 67, 59, 82, 54]
series = pd.Series(temperatures)

print(series)

new_series = pd.Series([66, 74])
series = series.append(new_series, ignore_index=True)

print(series)

In [ ]:
city_names = pd.Series([
  'Atlanta', 
  'Austin', 
  'Kansas City',
  'New York City', 
  'Portland', 
  'San Francisco', 
  'Seattle',
])

population = pd.Series([
  498044,
  964254,
  491918,
  8398748,
  653115,
  883305, 
  744955,
])

num_airports = pd.Series([
  2,
  2,
  8,
  3,
  1,
  3,
  2,
])

print(city_names, population, num_airports)

In [ ]:
df = pd.DataFrame({
  'City Name': city_names,
  'Population': population, 
  'Airports': num_airports,
})

print(df)

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
_ = df.hist()

In [ ]:
df['City Name']

In [ ]:
df[['City Name']]

In [ ]:
df[['City Name', 'Population']]

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[1:3]

In [ ]:
df[1:3]

In [ ]:
df.iloc[[1, 3]]

In [ ]:
df.loc[2, 'City Name']

In [ ]:
df.loc[[2,3], ['City Name', 'Airports']]

In [ ]:
df.loc[6, 'Airports'] = 3
df

In [17]:
np.matrix([['a','b','d'],['e','f','g']]).shape

(2, 3)

In [ ]:
city_names = pd.Series(['Atlanta', 'Austin', 'Kansas City', 'New York City', 
                        'Portland', 'San Francisco', 'Seattle'])
population = pd.Series([498044, 964254, 491918, 8398748, 653115, 883305, 744955])
num_airports = pd.Series([2, 2, 8, 3, 1, 3, 2])

df = pd.DataFrame({
  'City Name': city_names,
  'Population': population, 
  'Airports': num_airports,
})

df

In [ ]:
df['Population'] /= 1000
df

In [ ]:
city_names = pd.Series(['Atlanta', 'Austin', 'Kansas City', 'New York City', 
                        'Portland', 'San Francisco', 'Seattle'])
population = pd.Series([498044, 964254, 491918, 8398748, 653115, 883305, 744955])
num_airports = pd.Series([2, 2, 8, 3, 1, 3, 2])

df = pd.DataFrame({
  'City Name': city_names,
  'Population': population, 
  'Airports': num_airports,
})

df['Population_M'] = df['Population'] / 1000
df

In [ ]:
url = "https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv"
california_housing_dataframe = pd.read_csv(url)
california_housing_dataframe

In [7]:
a = [1,2,3,4]
print(type(a))

<class 'list'>